.projects-bg {
  background: var(--base-color-1);
  margin-top:240px;
  padding: 120px 0;
  position: relative;
}

.projects-bg::before {
  content: "";
  position: absolute;
  background-image: url('../../assets/html-dec.svg');
  width: 180px;
  height: 105px;
  top: -60px;
  right: 160px;
}

.projects-header h2 {
  margin-bottom: 15px;
  position: relative;
}

.projects-header h2::before{
  display: block;
  position: absolute;
  content: '';
  left: -35px;
  top:40px;
  background-image: url('../../assets/hashtag.svg');
  background-repeat: no-repeat;
  width: 26.57px;
  height: 34.9px;
}

.projects-footer span {
  display: inline-block;
  border-bottom: 2px solid var(--sup-color-2);
}

.projects-footer a {
  transition: .3s;
}
.projects-footer a:hover  {
  color:var(--acent-color-2);
}


.projects-footer {
  display: flex;
  justify-content: center;
}


@media (max-width:1600px) {
  .projects-header h2::before {
    background-image: url('../../assets/hashtag-2.svg');
    left: -15px;
    top: 45px;
  }
}
@media (max-width:1200px) {
  .projects-header h2::before {
    left: -15px;
    top: 35px;
  }
}

@media (max-width:800px) {
  .projects-bg {
    margin-top: 120px;
    padding: 60px 0;
  }

  .projects-bg::before {
    background-image: url('../../assets/html-dec-2.svg');
    background-repeat: no-repeat;
    width: 90.25px;
    height: 52.36px;
    top: -30px;
    right: 160px;
  }

  .projects-header h2 {
    margin-bottom: 10px;
  }
}

@media (max-width:480px) {
  .projects-header h2::before {
    left: -15px;
    top: 20px;
  }
}

