body {
  background: var(--sup-color-4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.linkedin-link {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.linkedin-link span {
  display: inline-block;
  border-bottom: 2px solid var(--sup-color-1);
  padding-bottom: 5px;
}

.linkedin-link a {
  transition: .3s;
}

.linkedin-link a:hover {
  color: var(--acent-color-2);
}