* {
  box-sizing: border-box;
}

body,
ul,
li,
a,
p,
h1,
h2,
h3,
h4 {
  margin:0;
  padding: 0;
}

ul,
li {
  list-style: none;
} 

a {
  text-decoration: none;
  color:inherit;
}

img {
  display: block;
  max-width: 100%;
}