.about-header {
  text-align: center;
  margin: 120px 0;
}

.about-header h2 {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}

.about-header h2::before {
  display: block;
  position: absolute;
  content: '';
  left: -35px;
  top:40px;
  background-image: url('../../assets/hashtag.svg');
  background-repeat: no-repeat;
  width: 26.57px;
  height: 34.9px;
}

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  gap:80px;
}


@media (max-width:1200px) {
  .about-header h2::before {
    background-image: url('../../assets/hashtag-2.svg');
    top: 30px;
    left: -15px;
  }
}

@media (max-width:800px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  .about-header h2::before {
    top: 25px;
  }
  .about-header {
    margin: 60px;
  }
}

@media (max-width:480px) {
  .about-content {
    gap:40px;
  }
  .about-header {
    margin: 60px 0;
  }

  .about-header h2 {
    margin-bottom: 10px;
  }
}